.wrapper{
  width: 100%;
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  >h1{
    font-size: 1.6rem;
  }
  >p{
    margin-top: 1.2rem;
  }
  .container{
    margin-top: 0.6rem;
    width: 100%;
    padding: 0.5rem 1rem;
    background: #eff0f0;
    border-radius: 0.3rem;
    box-sizing: border-box;
    >ul{
      width: 96%;
      margin: 0 auto;
      font-weight: 500;
      >li{
        margin: 0.8rem 0;
        >span{
          border-radius: 0.1rem;
          margin-left: 0.6rem;
          font-size: 0.8rem;
          font-weight: normal;
          padding: 0.2rem;
        }
        .a{
          background: #e1e2e2;
        }
        .b{
          background: #f9e1b0;
          color: #8e7034;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapper{
    width: 90%;
    margin: 0 auto;
    >h1{
      font-size: 1.2rem;
    }
  }
}