.wrapper{
  width: 100%;
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  .container{
    border-radius: 0.3rem;
    background: #ddeefc;
    display: flex;
    align-items: center;
    padding: 0.8rem;
  }
  .svg{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
  }
}
@media (max-width: 768px) {
  .wrapper{
    width: 90%;
    margin: 0 auto;
  }
}