.wrapper{
  width: 100%;
  height: 100vh;
  background: #bfa;
}
.wrapper {
  animation: fadeIn 2s ease;
}
@keyframes fadeIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}