/* 定义入场动画 */
.fade-enter {
  opacity: 0;
  transform: translateY(50px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

/* 定义退出动画 */
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}
