.twoTitle {
  opacity: 0;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  max-height: 0;
}

.twoTitle.show {
  opacity: 1;
  max-height: auto;
}
.svg{
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(360deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.svg{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.outSvg{
  width: 0.6rem;
  height: 0.6rem;
}
.rotate {
  animation: rotate 0.5s linear;
}
.ro{
  animation: ro 0.5s linear;
}

.liItem{
  padding: 0.8rem 1.8rem;
}
.liItem:hover{
  background: #d6d7d7;
  transition: all .3s ease-in-out;
}
.Liactive{
  background: #e0edfa;
  color: #4c6974;
}
.Liactive:hover{
  background: #e0edfa;
}
@media (max-width: 768px) {
  .liItem{
    padding: 0.5rem 0.2rem;
  }
  .liItem:hover{
    background: #eff0f0;
    transition: all .3s ease-in-out;
  }
}
.outItem{
  padding-left: 1.2rem;
  font-size: 12px;
  color: #6a6d6d;
}
.outItem:hover{
  color: #000;
}
.outactive::before{
  content: '';
  display: block;
  position: relative;
  left: -1.6rem;
  width: 2px;
  height: 0.8rem;
  background: #00b970;
}
.outactive{
  color: #000;
}