.wrapper{
  width: 100%;
}
.item{
  width: 100%;
  font-size: 1.5rem;
  color: #4c6974;
  display: flex;
  align-items: center;
}
ul{
  width: 100%;
}
.svg{
  width: 1.5rem;
  height: 1.5rem;
}
li{
  width: 96%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 0.4rem 0;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 0.2rem;
  border-radius: 8px;
}
.liItem{
  padding: 0.8rem 1.8rem;
  &:hover{
    background: #eff0f0;
    transition: all .3s ease-in-out;
  }
}
.text {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .liItem{
    padding: 0.5rem 0.2rem;
    &:hover{
      background: #eff0f0;
      transition: all .3s ease-in-out;
    }
  }
}

