.wrapper{
  width: 100%;
}
.item{
  width: 100%;
  font-size: 1.5rem;
  color: #4c6974;
}
ul{
  width: 100%;
}
.svg{
  width: 1.5rem;
  height: 1.5rem;
}
li{
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
