.wrapper{
  width: 50%;
  margin: 0 100px;
  >h1{
    font-size: 1.6rem;
  }
  .response{
    padding: 1rem 0.4rem;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .wrapper{
    width: 100%;
    margin: 0 auto;
    >h1{
      font-size: 1.2rem;
    }
  }
}